{% for assessment in assessmentSections %}
  <section class="app-!-position-relative govuk-!-margin-top-7">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      {{ assessment.name }}
    </h2>

    {% if personEscortRecordIsComplete %}
      {% for panel in assessment.panels %}
        {% call appPanel(panel) %}
          {{ appMetaList(panel.metaList) }}
        {% endcall %}

        {% if loop.last %}
          <p class="govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-font-size-16">
            <a href="{{ assessment.url }}">
              View all {{ assessment.name | lower }}
            </a>
          </p>
        {% endif %}
      {% else %}
        {{ appMessage({
          classes: "app-message--muted govuk-!-margin-top-2",
          allowDismiss: false,
          content: {
            html: 'No immediate concerns. View <a href="' + assessment.url + '">full assessment</a>.'
          }
        }) }}
      {% endfor %}
    {% else %}
      {{ govukInsetText({
        classes: "govuk-inset-text--compact govuk-!-margin-0",
        text: t("person-escort-record::flags.incomplete")
      }) }}
    {% endif %}

    {% if assessment.bookingAssessment %}
      {% set html %}
        {{ assessmentContent(assessment.bookingAssessment) }}
      {% endset %}

      {{ govukDetails({
        html: html,
        classes: "govuk-!-font-size-16 govuk-!-margin-top-2",
        summaryText: "View information provided at request"
      }) }}
    {% endif %}
  </section>
{% endfor %}
