{% extends "layouts/base.njk" %}

{% block content %}
  <header class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
        Unsupported version
      </h1>
    </div>
  </header>

  <p>This version of the Person Escort Record is not supported. Need to decide what to do here...</p>
{% endblock %}
